.app {
  display: flex;
  justify-content: center;
  text-align: center;
}

.box {
  width: 400px;
  padding: 20px;
  border: 2px solid rgba(145, 145, 145, 0.325);
}

p {
  font-size: 85px;
}

.add {
  padding: 10px;
  width: 100px;
  border-radius: 5px;
  border: 0;
  margin-right: 10px;
  background-color: rgb(52, 190, 52);
  color: white;
  cursor: pointer;
}

.sub {
  padding: 10px;
  width: 100px;
  border-radius: 5px;
  border: 0;
  background-color: rgb(255, 60, 60);
  color: white;
  cursor: pointer;
}

.reset{
  padding: 10px;
    width: 100px;
    border-radius: 5px;
    border: 0;
    margin-left: 10px;
    background-color: rgb(123, 123, 123);
    color: white;
    cursor: pointer;
}